<!doctype html>

<script>
	function myFunction() {
		alert("നിങ്ങളുടെ ലൊക്കേഷൻ ഷെയർ ചെയ്യാൻ അനുവദിക്കുക അതിനായി \"Allow\"  അമർത്തുക.");		
	}
</script>

<html>
		<body onload="myFunction()">
		<p id="demo"></p>

		<script>
		var x = getLocation();
		document.getElementById("demo").innerHTML = x;
		
		// var x = document.getElementById("demo").innerHTML
		// document.getElementById("demo").innerHTML = getLocation();
		function getLocation() {
		    if (navigator.geolocation) {
		        navigator.geolocation.getCurrentPosition(showPosition);
		    } else { 
		        x.innerHTML = "Geolocation is not supported by this browser.";
		    }
		}

		function showPosition(position) {
		    // x.innerHTML = "Latitude: " + position.coords.latitude + 
		    // "<br>Longitude: " + position.coords.longitude;
		    return "Latitude: " + position.coords.latitude + 
		    "<br>Longitude: " + position.coords.longitude;
		}
		</script>
		
		<center>
		<header> <h1> Home </h1> </header>
		<br> <br>
		<h2> This portal records the details of students (Name, Address, State and ZIP)</h2>
		<br>

		<h2><a href = "/enternew">Enter Student Details</a></h2> <br>
		<h2><a href = "/list">Retrive Student Details</a></h2>
      
	</body>
</html>